ipython>=7.0.1,
pandas>=0.22.0,
pillow>=5.3.0,
requests>=2.23.0,
selenium>=3.141.0,
ujson>=1.35,
black>=20.,
bump2version>=1.0.0,
flake8>=3.7.8,
flake8-black>=0.2.1,
mock,
pytest>=4.3.0,
pytest-cov>=2.6.1,
Sphinx>=1.8.4,
sphinx-markdown-builder>=0.5.2,